@model RiviksMusics.Models.User
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add User</h1>


<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<br />
<div class="row ">
    <div class="col-md-12">
        <form asp-action="AddUser" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-md-6">
                <label asp-for="Sku" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Sku" class="form-control" />
                <span asp-validation-for="Sku" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="FirstName" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName" class="control-label"></label><span class="text-danger">*</span>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Email" class="control-label"></label><span class="text-danger">*</span>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="BirthDate" class="control-label"></label><span class="text-danger">*</span>
                <input asp-for="BirthDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" Max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Gender</label><span class="text-danger">*</span>
                <div class="form-check">
                    <input asp-for="Gender" class="form-check-input" type="radio" value="male">
                    <label asp-for="Gender" class="form-check-label">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Gender" class="form-check-input" type="radio" value="female">
                    <label asp-for="Gender" class="form-check-label">
                        Female
                    </label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Role" class="control-label"></label><span class="text-danger">*</span>
                <select asp-for="Role" class="form-control selectrole">
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            function getRoles() {
                $.ajax({
                    url: "@Url.Action("RoleAction", "User")",
                    type: "GET",
                    dataType: "Json",
                    success: function (result) {

                        var mySelect = $('.selectrole');
                        $.each(result, function (idx, item) {

                            mySelect.append(
                                $('<option></option>').val(item.text).html(item.text)
                            );
                        });
                    },
                    error: function () {
                        alert('Failed to retrieve Sub Departments.');
                    }
                });
            }

            getRoles();
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

