@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>@ViewData["Title"] - RiviksMusics</title>
    <!-- Favicon -->
    <link rel="icon" href="~/FrontEnd/img/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/FrontEnd/css/style.css">

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">

                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a asp-action="Index" asp-controller="Home" class="nav-brand" style="color:aliceblue">RiviksMusics</a>


                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a asp-action="Albums" asp-controller="Home" class="@ViewBag.isalbums">Albums</a></li>
                                    <li><a asp-action="Person" asp-controller="Home">Singers</a></li>
                                    <li><a asp-action="Plans" asp-controller="Home">Plans</a></li>
                                    <li><a asp-action="About" asp-controller="Home">About Us</a></li>
                                    <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <div class="login-register-btn mr-50">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-action="Index" asp-controller="Dashboard">Home</a>
                                    } 
                                    else
                                    {
                                        <!-- Login/Register -->
                                        <a asp-area="Identity" asp-page="/Account/Login" id="loginBtn">Login / Register</a>

                                        <!-- Cart Button -->
                                        @* <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                        </div> *@
                                    }
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <div>
        @RenderBody()
    </div>
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a asp-action="Index" asp-controller="Home" class="nav-brand" style="color:thistle">R i v i k s M u s i c s</a>
                    <p class="copywrite-text">
                        <a href="#">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved .
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </a>
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="Albums" asp-controller="Home">Albums</a></li>
                            <li><a asp-action="Person" asp-controller="Home">Singers</a></li>
                             <li><a asp-action="Plans" asp-controller="Home">Plans</a></li>
                            <li><a asp-action="About" asp-controller="Home">About Us</a></li>
                            <li><a asp-action="Contact" asp-controller="Home">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="~/FrontEnd/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/FrontEnd/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/FrontEnd/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/FrontEnd/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/FrontEnd/js/active.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>