@{
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/img/RV.jpg" alt="RV" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">RiviksMusics</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="nav-item">
                <a asp-controller="User" asp-action="UserEditProfile" class="nav-link @ViewBag.iseditprofile">
                    <img src="~/img/RV.jpg" alt="Image" width="40px" style="border-radius:100px;" />
                    Vishva Anghan
                </a>
            </div>
        </div>

        

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @ViewBag.isdashbord">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                         
                        </p>
                    </a>
                   
                </li>

                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Role" class="nav-link  @ViewBag.isrole">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Role
                            
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-controller="User" asp-action="User" class="nav-link  @ViewBag.isuser">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            User

                        </p>
                    </a>
                </li>

              
                    </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
