@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    // ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<br />
<br />
<br />

<partial name="_StatusMessage" for="StatusMessage" />
<div class="login-box">
    <div class="login-logo">
        <b>RiviksMusics</b>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <form id="change-password-form" method="post">
                <h3>@ViewData["Title"]</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter Old Password"/>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter New Password" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">                  
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter Confirm Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-eye-slash"></span>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="w-100 btn btn-md btn-primary"><b>Update password</b></button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
