
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_MusicLayout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../FrontEnd/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>About Us</h2>
    </div>
</section>

<style>
    .about-us-content p {
        font-size: 18px;
        color: #000;
    }

    .about-us-content h2 {
        font-size: 20px;
        color: #000;
        font-weight: 800;
    }

    .about-us-content {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .about-us-thumbnail img {
        border-radius: 20px;
    }

</style>
<section class="about-us section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="about-us-content mb-100">
                    <div class="section-heading text-left mb-50">
                        <p>Discover the Sound of Riviks</p>
                        <h2>Welcome to Riviks Musics</h2>
                    </div>
                    <p>At Riviks Musics, we believe in the transformative power of music. Our mission is to bring the most diverse and eclectic sounds to music lovers around the world.</p>
                    <p>Founded by a group of passionate music enthusiasts, Riviks Musics has grown from a small startup to a leading platform in the music industry, dedicated to promoting new artists and innovative sounds.</p>
                    <p>Whether you're a fan of classical symphonies, jazz improvisations, rock anthems, or electronic beats, you'll find something to love at Riviks Musics. We strive to provide a space where artists can freely express themselves and where listeners can discover new and exciting music every day.</p>
                    <p>Join us on this musical journey and experience the rhythm, the melody, and the harmony of Riviks Musics. Stay tuned for upcoming events, new releases, and exclusive content that you won't find anywhere else.</p>
                   
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-us-thumbnail mb-100">
                    <img src="../../FrontEnd/img/bg-img/e3.jpg" alt="About Riviks Musics" class="img-fluid">
                  
                </div>
            </div>
        </div>
    </div>
</section>

