@model RiviksMusics.Models.MusicAlbumViewModel
@{
    ViewData["Title"] = "AlbumDetails";
    Layout = "~/Views/Shared/_MusicLayout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../FrontEnd/img/bg-img/breadcumb3.jpg);"></section>



<div class="container-fluid row" style="margin-block:auto; display:flex; flex-wrap: wrap;  ">

    @* <div class="col-md-5" style="display: block; unicode-bidi: isolate;">
        <br />

    </div> *@

    <div class="container">

        <div class="row" style="padding: 50px 0px;">
            <div class="col-md-7">
                <img src="~/img/@Model?.AlbumImage" width="90%" class="profile-user-img img-fluid img-Squre" style="vertical-align: middle; overflow-clip-margin: content-box; overflow: clip;" />
            </div>

            <div class="col-md-5">
                <table class="table" style="border-style:hidden;">
                    <tbody>
                        <tr>
                            <td>
                                <h4>Album Name</h4>
                            </td>
                            <td>
                                <h4>@Model?.AlbumName</h4>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h4>Category </h4>
                            </td>
                            <td>
                                <h4>@Model?.Category?.CategoryName</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Artist</h4>
                            </td>
                            <td>
                                <h4>@Model?.User?.FirstName  @Model?.User?.LastName</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>

                @* <div>
                <a class="download-buton" style="background-color:rosybrown; color: #000;  border-radius: 50px;  padding: 10px; width: 90%; display: block; text-align: center; transition: .5s; margin-bottom: 10px; text-size-adjust:auto; cursor:pointer;">
                Download
                </a>
                <div class="mr-top-123
        </div>
 text-center d-flex justify-content-center" style="margin-top: 13px; unicode-bidi: isolate; color: #fff;">

                <h5 class="d-v-box" style=" padding: 10px 20px; border: 1px solid #484848;  border-radius: 50px; margin: 3px; font-size: 15px; background-color:#D7C0AE; min-width: 110px;">
                <i class="fa fa-eye"></i>
                391.0k
                </h5>
                <h5 class="d-v-box" style=" padding: 10px 20px; border: 1px solid #484848;  border-radius: 50px; margin: 3px; font-size: 15px; background-color:#D7C0AE; min-width: 110px;">
                <i class="fa fa-download"></i>
                375.3k
                </h5>
                </div>
                </div> *@
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class=" listen ">
                    Listen Song
                </h2>
            </div>
        <div class="row">
            @if (Model != null && Model.Songs != null && Model.Songs.Count > 0)
            {
                foreach (var item in Model.Songs)
                {
                    <div class="col-12">
                        <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                            <div class="song-thumbnail">
                                <img src="~/img/@item?.UploadImage" id="image" alt="" style="width:120px; height:120px; object-fit:cover; image-orientation:from-image;">
                            </div>
                            <div class="song-play-area" style="flex:0 0 calc(100% - 400px);">
                                <div class="song-name">
                                    <p>@item?.SongName - <span style="color: #5f5f5f;">&nbsp;@item?.User?.FirstName @item?.User?.LastName</span></p>
                                </div>
                                <audio controls>
                                    <source src="~/audio/@item?.UploadSong" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>

                            <div class="d-flex align-items-center pl-2" style="height: 100px;">
                                <a href="@Url.Action("DownloadFile", "Home" , new {id = item?.MusicId})" style="background-color:#262626; border-radius: 50px;  padding: 10px; width: 110%; text-align: center; transition: .5s; margin-bottom: 50%; text-size-adjust:auto;" data-toggle="tooltip" title="Download">
                                    <i class="fa fa-download" style="color:white"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

