@model List<RiviksMusics.Models.MusicAlbumViewModel>
@using RiviksMusics.Helper

@{
    ViewData["Title"] = "Singer details";
    Layout = "~/Views/Shared/_MusicLayout.cshtml";

    bool isAnyLocked = Model.Any(item => item.Status);
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../FrontEnd/img/bg-img/breadcumb3.jpg);"></section>

<div class="container-fluid row" style="margin-block:auto; display:flex; flex-wrap: wrap;  ">

    @*  <div class="col-md-5" style="display: block; unicode-bidi: isolate;">
    <br />

    </div>
    *@

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="align-items:start;">
               
                    <h2 class=" listen ">

                    Listen Song &nbsp;
                    @if (isAnyLocked && !ViewBag.HasSubscription)
                    {
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Plans" asp-controller="Home" class="btn btn-danger">
                                SUBSCRIBE
                            </a>
                        }
                        else
                        {
                            <a asp-action="Index" asp-controller="Dashboard" class="btn btn-danger">
                                SUBSCRIBE
                            </a>
                        }
                        }
                    </h2>
                
            </div>
            
        </div>
        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-12">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail">
                            <img src="~/img/@item?.AlbumImage" id="image" alt="@item?.SongName" style="width:120px; height:120px; object-fit:cover; image-orientation:from-image;">
                        </div>
                        <div class="song-play-area" style="flex:0 0 calc(100% - 400px);">
                            <div class="song-name">
                                <p>
                                    @item?.SongName  - <span style="color: #5f5f5f;">&nbsp; @FileSizeHelper.FormatBytes(item?.AudioSize ?? 0) </span>
                                    @if (item.Status && !ViewBag.HasSubscription)
                                    {
                                        <span class="text-danger">Locked 🔒</span>
                                    }
                                    else
                                    {
                                        @* <span class="text-success">Unlocked 🔓</span> *@
                                    }
                                </p>
                            </div>
                            @if (item.Status && !ViewBag.HasSubscription)
                            {
                                <p style="color:#999;"></p>
                            }
                            else
                            {
                                <audio controls>
                                    <source src="~/audio/@item?.UploadSong" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            }
                        </div>

                        <div class="d-flex align-items-center pl-2" style="height: 100px;">
                            @if (item.Status && !ViewBag.HasSubscription)
                            {
                                <p style="color: #999;"></p>
                            }
                            else
                            {
                                <a href="@Url.Action("DownloadFile", "Home" , new {id = item?.MusicId})" style="background-color:#262626; border-radius: 50px;  padding: 10px; width: 110%; text-align: center; transition: .5s; margin-bottom: 50%; text-size-adjust:auto;" data-toggle="tooltip" title="Download">
                                    <i class="fa fa-download" style="color:white"> &nbsp;&nbsp;  @FileSizeHelper.ToShorthand(item?.DownloadSong ?? 0) </i>
                                </a>
                            }
                        </div>
                        <div class="d-flex align-items-center pl-2" style="height: 100px;">
                            <a style="background-color:#262626; border-radius: 50px;  padding: 10px; width: 110%; text-align: center; transition: .5s; margin-bottom: 50%; text-size-adjust:auto;" data-toggle="tooltip" title="Views">
                                <i class="fa fa-eye" style="color:white"> &nbsp;&nbsp; @FileSizeHelper.ToShorthand(item?.ViewSong ?? 0) </i>
                            </a>
                        </div>

                    </div>
                </div>

            }
        </div>


    </div>
</div>



