@page
@model ForgotPasswordModel
@{
    //ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_MusicLayout.cshtml";
}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../FrontEnd/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p></p>
        <h2>ForgotPassword</h2>
    </div>
</section>

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <!-- Login Form -->
                    <div class="login-form login-card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>

                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">ForgotPassword</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
